<div class="container">
    <div class="row">
      <div class="col-sm-4 offset-sm-3 mt-5">
        <div class="card mb-3 SignInCard">
          <div class="card-body">
  
            <p class="text-center mt-4 mb-4">
              <img src="assets/img/assessment.jpg" width="70%" />
            </p>
  
            <form [formGroup]="formLogin">
              <div class="form-group">
                <label>
                    <small>
                        <b>Email</b>
                    </small>
                </label>
                <input #input type="text" formControlName="username" class="form-control text-color"
                  placeholder="Enter Username">
              </div>
              <div class="form-group">
                <label><small><b>Password</b></small></label>
                <input #input type="password" formControlName="password"
                  class="form-control text-color" placeholder="Enter Password" (keyup.enter)="onSubmit()">
              </div>
            </form>
            <div class="form-group mt-2" (click)="onSubmit()">
              <button  class="btn btn-primary" [disabled]="!formLogin.valid">
                <i class="fas fa-sign-in-alt" ></i>
                SIGN IN
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <a class="far fa-comment-dots chat" target="popup" onclick="window.open('https://innodev.vnetcloud.com/lhc_web/','name','width=900,height=1000')"></a> -->